@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;500;600&display=swap");

@theme {
  --font-display: "Playfair Display", serif;
}

body {
  font-family: var(--font-display);
  background-color: #f5f5f5;
}
